<div class="row">
  <div class="span12">
    <h4><%= t('riyosha.confirmation.confirmed.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= t('riyosha.confirmation.confirmed.text') %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <a href="<%= edit_user_registration_path %>">
      <button class="btn btn-primary">
        <%= t('riyosha.confirmation.confirmed.go') %>
      </button>
    </a>
  </div>
</div>
