<div class="row">
  <div class="col-md-12">
    <h4><%= t('riyosha.confirmation.wait.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= t('riyosha.confirmation.wait.text') %>
  </div>
</div>

