
  <div class="row">
    <div class="span12">
      <%= I18n.t('riyosha.edit.dtu_base_reference') %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <a href="http://portalen.dtu.dk/dtubasen">
        <%= I18n.t('riyosha.edit.dtu_base_link_text') %>
      </a>
    </div>
  </div>
