<%- if devise_mapping.omniauthable? %>
  <%- scope = 'riyosha.unset'
      if controller_name == 'sessions'
        scope = 'riyosha.sign_in'
      end
      if controller_name == 'registrations'
        scope = 'riyosha.sign_up'
      end
  %>
  <div class="row">
    <div class="span12">
      <h4><%= t('social', :scope => scope) %></h4>
    </div>
  </div>

  <div class="row">
  <%- if devise_mapping.omniauthable? %>
    <% offset="offset3" -%>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <div class="span3 <%= offset %>">
      <%= link_to ('<i class="'+t(provider, :scope => 'riyosha.provider.icons')+
            '"></i> '+ t(provider, :scope => 'riyosha.provider.text')).html_safe,
        omniauth_authorize_path(resource_name, provider) %><br />
        <% offset = "" -%>
      </div>
    <% end -%>
  <% end -%>
  </div>
<% end -%>
