<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="span6">
          <a href="http://www.dtu.dk"><%= image_tag 'dtu_text_header.png' %></a>
        </div>
        <div class="span6">
          <div class="pull-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="container">
      <div class="row logos">
        <div class="span3">
          <%= link_to 'DTU Login'.html_safe, 'http://findit.dtu.dk', :class => 'logo pull-left' %>
        </div>
        <div class="span8">
        </div>
        <div class="span1">
          <%= link_to content_tag('div', '', :class => 'dtu-logo').html_safe, 'http://www.dtu.dk', :class => 'logo pull-right' %>
        </div>
      </div>
    </div>
  </div>
</div>
