<div class="span12 alert alert-block alert-error">
  <h4>Oops!</h4>
  An unexpected error happened while logging you in to DTU Library
  printed colletion. Please try again. If this error persists please
  contact DTU Library.
</div>
