<!--
<h4>More Than One Way In</h4>
<p>
  You can log in to DTU Findit in more than one way depending on your
  affiliations.
  You will see a difference on the numbers of publications, full text and
 library availability according to DTU/non DTU affilliations.
</p>
<hr>
-->
<div class="span12">
<%= render @login_template %>
</div>
