<div class="flash_messages">
  <% devise_error_messages! %>
  <% #TODO: Move to helpers %>
  <% {:success => :success,
      :notice => :info,
      :error => :warning,
      :alert => :danger}.each do |alert,alert_class| %>
    <% if flash[alert].respond_to? :each %>
      <% flash[alert].each do |msg| %>
        <div class="alert alert-<%=alert_class%>"><%= msg.html_safe %>
           <a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>
    <% elsif flash[alert] %>
      <div class="alert alert-<%=alert_class%>"><%= flash[alert].html_safe %>
         <a class="close" data-dismiss="alert" href="#">&times;</a>
      </div>
    <% end %>
  <% end %>
</div>
